.tiptap {
  .loadingCard {
    display: flex;
    justify-content: center;
    height: 10rem;
    align-items: center;
    border: 2px solid oklch(92.9% 0.013 255.508);
    border-radius: 0.25rem;
    margin: 1.5rem 0; /* 埋め込みのマージンと同じ */

    .point {
      animation: ping 1s infinite;
      height: 0.5rem;
      width: 0.5rem;
      background-color: #2563eb;
      border-radius: 9999px;
    }

    .point:nth-child(2) {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
