.content-header {
  padding: 40px 0;
  background: $c-primary-bg-lighter;
  line-height: 1.4;
}
.content-header__title {
  font-size: 30px;
}

.content-header__row {
  margin: 10px 0;
  font-size: 14px;
}

.content-header__row-title {
  font-weight: 700;
  display: inline-block;
  width: 78px;
  padding-right: 5px;
}
.content-header__link {
  display: inline-block;
  margin-top: 15 px;
  color: $c-gray;
  font-size: 14px;
}
.content-header__topic {
  display: inline-block;
  color: $c-gray-darker;
  font-size: 13px;
  border: solid 1px $c-gray-border-lighter;
  background: #fff;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  margin-right: 6px;
}
.content-header__error-title {
  margin-top: 20px;
  color: #ff6868;
  font-size: 14px;
  font-weight: 700;
}

// book
.content-header__cover {
  margin-bottom: 25px;
  img {
    object-fit: cover;
    width: 200px;
    height: 280px;
    box-shadow: 3px 7px 16px -5px rgba(0, 27, 68, 0.2),
      0 0 3px rgba(0, 21, 60, 0.1);
    border-radius: 3px 4px 4px 3px;
  }
}
