.main-container {
  display: flex;
}

.main-sidebar {
  position: sticky;
  top: 0;
  width: 290px;
  height: 100vh;
  overflow-y: auto;
  border-right: solid 1px $c-gray-border-lighter;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-sidebar__minimize {
  display: flex;
  justify-content: flex-end;
  padding: 13px;
  text-align: right;
  border-top: solid 1px rgba(92, 147, 187, 0.17);
}

.main-sidebarMinimum {
  width: 50px;
  justify-content: flex-end;

  .main-sidebar__minimize {
    justify-content: center;
    padding: 13px 0;

    img {
      transform: scaleX(-1);
      transition: none;
    }
  }
}

.main-content {
  min-width: 375px;
  flex: 1;
}
