.sidebar {
  padding: 13px;
  line-height: 1.4;
}
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar-logo-link {
  display: block;
}
.sidebar-collections {
  margin-top: 10px;
}
.sidebar-collection__title {
  font-size: 14.5px;
  font-weight: 700;
  padding: 5px 0;
  cursor: default;
  outline: 0;
  &:focus {
    background: $c-primary-bg-lighter;
  }
  &::-webkit-details-marker {
    color: $c-gray-darker;
  }
  user-select: none;
}

.sidebar-nav-item {
  display: block;
  padding: 4px 0;
  padding-left: 15px;
  font-size: 13px;
  color: $c-gray-darker;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  .draft {
    display: inline-block;
    background: $c-primary-bg;
    color: $c-gray;
    font-size: 0.85em;
    padding: 0.2em 0.3em;
    border-radius: 3px;
    vertical-align: 0.1em;
    margin-right: 0.4em;
  }
  &:hover {
    color: $c-base;
  }
  &.active {
    color: $c-primary;
    background: $c-blue-bg;
    cursor: default;
    border-radius: 3px;
    .draft {
      background: #fff;
    }
  }
}

.sidebar-external-link {
  display: flex;
  align-items: center;
  margin: 7px 0;
  font-size: 14px;
  font-weight: 700;
  img {
    margin-right: 7px;
  }
}
