.home {
  padding: 3rem 0;
  font-size: 16px;
}
.home__container {
  margin-top: 1rem;
  h2 {
    margin: 2em 0 0;
    font-size: 1.4em;
    img {
      vertical-align: -0.125em;
      margin-right: 10px;
    }
  }
  p,
  pre {
    margin: 1em 0;
  }
  pre {
    font-size: 14px;
    background: $c-base;
    color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 0.55em 0.7em;
    border-radius: 4px;
  }
  code {
    font-family: Menlo, Monaco, Consolas, Meiryo, "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  a {
    color: $c-primary;
  }
}
