.error-row {
  position: relative;
  margin: 8px 0;
  padding-left: 27px;
  color: #ff6868;
  font-size: 13.5px;
  line-height: 1.5;
  &:before {
    position: absolute;
    content: "!";
    left: 0;
    top: 2px;
    background: #ff6868;
    color: #fff;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    line-height: 17px;
    font-size: 11px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
  }
  a {
    text-decoration: underline;
    opacity: 0.8;
  }
}
