.main-container {
  display: flex;
}

.main-sidebar {
  position: sticky;
  top: 0;
  width: 290px;
  height: 100vh;
  overflow-y: auto;
  border-right: solid 1px $c-gray-border-lighter;
}
.main-content {
  min-width: 375px;
  flex: 1;
}
