.sidebar {
  height: 100vh;
  overflow-y: auto;
  padding: 10px 15px;
  border-right: solid 1px $c-gray-border-lighter;
  line-height: 1.4;
}
.sidebar-collection__title {
  font-size: 14.5px;
  font-weight: bold;
  padding: 4px 0;
  cursor: default;
  outline: 0;
  &:focus {
    background: $c-primary-bg-lighter;
  }
  &::-webkit-details-marker {
    color: $c-gray-darker;
  }
  user-select: none;
}
.sidebar-collection__ul {
  margin: 0 0 20px;
}
.sidebar-nav-item {
  display: block;
  margin: 7px 0;
  padding-left: 15px;
  font-size: 14px;
  color: $c-gray-darker;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:hover {
    color: $c-base;
  }
}
