i,
cite,
em {
  font-style: italic;
}
strong {
  font-weight: 700;
}
a {
  color: #0f83fd;

  &:hover {
    text-decoration: underline;
  }
}
p + p {
  margin-top: 1.5em;
}
ul,
ol {
  margin: 1.4rem 0;
  line-height: 1.7;
  & > li {
    margin: 0.4rem 0;
  }
  ul,
  ol {
    margin: 0.2em 0;
  }
  p {
    margin: 0;
  }
}

ul {
  padding-left: 1.8em;
  & > li {
    list-style: disc;
    &::marker {
      font-size: 1.1em;
      color: rgb(94, 100, 120);
    }
  }
}
ol {
  padding-left: 1.7em;
  & > li {
    list-style: decimal;
    padding-left: 0.2em;
    &::marker {
      color: rgb(83, 88, 114);
      font-weight: 600;
      letter-spacing: -0.05em;
    }
  }
}
.contains-task-list {
  .task-list-item {
    list-style: none;
  }
}
.task-list-item-checkbox {
  margin-left: -1.5em;
  font-size: 1em;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  & + p {
    margin-top: 0.3em;
  }
}

h1,
h2 {
  margin-top: 2.3em;
  margin-bottom: 0.5em;
}
h3,
h4,
h5,
h6 {
  margin-top: 2.25em;
  margin-bottom: 0.5em;
}
h1 {
  padding-bottom: 0.2em;
  margin-bottom: 1.1rem;
  font-size: 1.7em;
  position: relative;
  border-bottom: solid 1px $c-gray-border-lighter;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.1em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.9em;
}

@include mq(sm) {
  h1 {
    font-size: 1.6em;
  }
  h2 {
    font-size: 1.4em;
  }
  h3 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 1.1em;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: 0.85em;
  }
}

hr {
  border-top: 2px solid $c-gray-border-lighter;
  margin: 2.5rem 0;
}
blockquote {
  font-size: 0.97em;
  margin: 1.4rem 0;
  border-left: solid 3px #9dacb7;
  padding: 2px 0 2px 0.7em; /* 上下にpaddingをわずかでも設定しておくと、固定ヘッダー対策で見出しにネガティブマージンが指定されたときにも崩れない。ref: https://github.com/zenn-dev/zenn-roadmap/issues/191 */
  color: #505c64;
  p {
    margin: 1rem 0;
  }
  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
  &.twitter-tweet {
    display: none;
  }
}
table {
  margin: 1.2rem auto;
  width: auto;
  border-collapse: collapse;
  font-size: 0.95em;
  line-height: 1.5;
  word-break: normal; // Layout will break without this.
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
th,
td {
  padding: 0.5rem;
  border: solid 1px $c-gray-border;
  background: #fff;
}
th {
  font-weight: 700;
  background: $c-primary-bg;
}
code {
  padding: 0.2em 0.4em;
  background: rgba(33, 90, 160, 0.07);
  font-size: 0.85em;
  border-radius: 4px;
  vertical-align: 0.08em;
}
code,
.code-block-filename {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, monospace,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
}
pre {
  margin: 1.3rem 0;
  background: $c-contrast;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 0.7em;
  box-shadow: 0 4px 6px -1px rgb(0, 14, 30, 0.15);
  word-break: normal; // iOSで折り返されるのを防ぐ
  word-wrap: normal; // iOSで折り返されるのを防ぐ
  /* flex + codeの隣に疑似要素を配置することで横スクロール時の右端の余白を作る */
  display: flex;
  &:after {
    content: '';
    width: 8px;
    flex-shrink: 0;
  }
  code {
    margin: 0;
    padding: 0;
    background: transparent;
    font-size: 0.9em;
    color: #fff;
  }
  & > code {
    display: block;
    padding: 1.1rem; // このようにしないとpreのスクロールバーがコードに重なってしまう
    @include mq(sm) {
      padding: 1rem 0.8rem;
      font-size: 0.85em;
    }
  }
}
.code-block-container {
  position: relative;
  margin: 1.3rem 0;
  pre {
    margin: 0;
  }
}

.code-block-filename {
  display: table;
  max-width: 100%;
  background: #323e52;
  color: rgba(255, 255, 255, 0.9);
  font-size: 12px;
  line-height: 1.3;
  border-radius: 6px 6px 0 0;
  // コードブロックのファイル名が右端まで達したときに見た目が微妙になるのを防ぐために
  // 下側のスペースを大きめに取りネガティブマージンで表示を調整（広めに取ったpaddingぶんだけmarginを下げる）
  // ref: https://github.com/zenn-dev/zenn-editor/issues/236
  padding: 6px 12px 20px;
  margin-bottom: -16px;
}
.code-block-filename-container + pre {
  border-top-left-radius: 0;
}
img:not(.emoji) {
  margin: 1.5rem auto;
  display: table;
  max-width: 100%;
  height: auto;
}
img + br {
  display: none;
}
// ![](path_to_image)
// *caption*
img ~ em {
  display: block;
  margin: -1rem auto 0;
  line-height: 1.3;
  text-align: center;
  color: $c-gray-darker;
  font-size: 0.92em;
}
details {
  font-size: 0.95em;
  margin: 1rem 0;
  line-height: 1.7;
}
summary {
  cursor: pointer;
  outline: 0;
  padding: 0.7em 0.7em 0.7em 0.9em;
  border: solid 1px rgba(92, 147, 187, 0.19);
  color: var(--c-contrast);
  font-size: 0.9em;
  border-radius: 9px;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.15);

  &::-webkit-details-marker {
    color: $c-gray-darker;
  }
}
details[open] summary {
  border-radius: 5px 5px 0 0;
  box-shadow: none;
  background: $c-primary-bg-lighter;
  border-bottom: none;
}
.details-content {
  padding: 0.5em 0.9em;
  border: solid 1px rgba(92, 147, 187, 0.2);
  border-radius: 0 0 5px 5px;

  & > * {
    margin: 0.5em 0;
  }
}
