.embed-speakerdeck,
.embed-slideshare,
.embed-codepen,
.embed-jsfiddle,
.embed-youtube,
.embed-codesandbox,
.embed-stackblitz {
  margin: 1.5rem 0;
}
.embed-slideshare,
.embed-speakerdeck,
.embed-codepen,
.embed-jsfiddle,
.embed-youtube,
.embed-stackblitz {
  padding-bottom: calc(56.25% + 38px);
  position: relative;
  width: 100%;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}
.embed-slideshare iframe {
  border: 1px solid $c-contrast;
}

.zenn-embedded {
  iframe {
    width: 100%;
    display: block;
  }
}
.zenn-embedded-link-card {
  margin: 1rem auto;
  iframe {
    height: 125px;
  }
}
.zenn-embedded-tweet,
.zenn-embedded-mermaid,
.zenn-embedded-github,
.zenn-embedded-gist {
  margin: 1.5rem auto;
}

// prevent katex overflow
// for inline $foo$
embed-katex:not([display-mode='1']) {
  display: inline-flex; // Don't use inline-block here.
  overflow-x: auto;
  max-width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
// for block
// $$
// foo
// $$
embed-katex[display-mode='1'] {
  display: block;
  width: 100%;
  overflow-x: auto;
}
