// TODO:[sanitize] 後方互換性の維持のため、もともとmarginを指定していたクラスにはdiv限定で適用しつづける
// すべての埋め込み要素がspanに変わったらこの宣言は消せる
div {
  &.embed-speakerdeck,
  &.embed-figma,
  &.embed-slideshare,
  &.embed-codepen,
  &.embed-jsfiddle,
  &.embed-youtube,
  &.embed-codesandbox,
  &.embed-stackblitz {
    margin: 1.5rem 0;
  }
}
span.embed-block {
  // markdown-it が<p>タグでコンテンツを囲むので、内部で<div>が使えない
  // そのため、<div>を使いたいシーンでは<div>のかわりに<span>で囲み、このCSSでdisplay: block;を指定する
  // 参考: https://stackoverflow.com/questions/8397852/why-cant-the-p-tag-contain-a-div-tag-inside-it
  display: block;
  width: 100%;
  margin: 1.5rem 0;
}
.embed-slideshare,
.embed-speakerdeck,
.embed-codepen,
.embed-jsfiddle,
.embed-youtube,
.embed-stackblitz {
  padding-bottom: calc(56.25% + 38px);
  position: relative;
  width: 100%;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}
.embed-slideshare iframe {
  border: 1px solid $c-contrast;
}

.embed-jsfiddle iframe {
  border: 1px solid $c-contrast;
}

.embed-figma {
  border: solid 1px $c-gray-border;
}

.zenn-embedded {
  iframe {
    width: 100%;
    display: block;
  }
}
.zenn-embedded-link-card {
  margin: 1rem auto;
  iframe {
    height: 125px;
  }
}
.zenn-embedded-tweet,
.zenn-embedded-mermaid,
.zenn-embedded-github,
.zenn-embedded-gist {
  margin: 1.5rem auto;
}

// prevent katex overflow
// for inline $foo$
embed-katex:not([display-mode='1']) {
  display: inline-flex; // Don't use inline-block here.
  overflow-x: auto;
  max-width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
// for block
// $$
// foo
// $$
embed-katex[display-mode='1'] {
  display: block;
  width: 100%;
  overflow-x: auto;
}
