.embed-tweet,
.embed-gist,
.embed-speakerdeck,
.embed-slideshare,
.embed-codepen,
.embed-jsfiddle,
.embed-youtube,
.embed-codesandbox,
.embed-stackblitz {
  margin: 1.5rem 0;
}
.embed-slideshare,
.embed-speakerdeck,
.embed-codepen,
.embed-jsfiddle,
.embed-youtube,
.embed-stackblitz {
  padding-bottom: calc(56.25% + 38px);
  position: relative;
  width: 100%;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}
.embed-slideshare iframe {
  border: 1px solid $c-contrast;
}
.embed-zenn-link {
  margin: 1rem auto;
  iframe {
    height: 125px;
    width: 100%;
    display: block;
  }
}

// prevent katex overflow
eqn,
.zenn-katex {
  display: block;
  overflow-x: auto;
}

// make mermaid.js raw text white
pre.zenn-mermaid {
  background: transparent;
  color: $c-gray;
  font-size: 0.9rem;
}
