// twitter
.tweet-container {
  margin: 1.5rem 0;
}
.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}
// gist
.embed-gist,
.embed-speakerdeck,
.embed-slideshare,
.embed-codepen,
.embed-jsfiddle,
.embed-youtube {
  margin: 1.5rem 0;
}
.embed-slideshare,
.embed-speakerdeck,
.embed-codepen,
.embed-jsfiddle,
.embed-youtube {
  padding-bottom: calc(56.25% + 38px);
  position: relative;
  width: 100%;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}
.embed-slideshare iframe {
  border: 1px solid $c-contrast;
}

// katex
eqn {
  display: block;
  overflow-x: auto;
}
