.footnotes {
  margin-top: 3rem;
  color: $c-text-gray-darker;
  font-size: 0.9em;
  li::marker {
    color: $c-text-gray-darker;
  }
}
.footnotes-title {
  padding-bottom: 3px;
  border-bottom: solid 1px $c-border-gray-darker;
  font-weight: 700;
  font-size: 15px;
}
.footnotes-list {
  margin: 13px 0 0;
}
// フォーカスされている脚注の背景色を変える
.footnote-item:target {
  background: $c-bg-gray-lighter;
}
