.footnotes {
  margin-top: 3rem;
  color: var(--c-text-subtle);
  font-size: 0.9em;
  li::marker {
    color: var(--c-text-subtle);
  }
}
.footnotes-title {
  padding-bottom: 3px;
  border-bottom: solid 1px var(--c-border-emphasis);
  font-weight: 700;
  font-size: 15px;
}
.footnotes-list {
  margin: 13px 0 0;
}
// フォーカスされている脚注の背景色を変える
.footnote-item:target {
  background: var(--c-bg-dim);
}
