.footnotes {
  margin-top: 3rem;
  color: $c-gray-darker;
  font-size: 0.9em;
  li::marker {
    color: $c-gray-darker;
  }
}
.footnotes-title {
  padding-bottom: 3px;
  border-bottom: solid 1px $c-gray-border;
  font-weight: 700;
  font-size: 15px;
}
.footnotes-list {
  margin: 13px 0 0;
}
// フォーカスされている脚注の背景色を変える
.footnote-item:target {
  background: #e3eeff;
  color: $c-contrast;
}
