// Message box by markdown-it-container
aside.msg {
  display: flex;
  align-items: flex-start;
  margin: 1.5rem 0;
  padding: 1.4em 1em;
  border-radius: 10px;
  background: $c-bg-warning;
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.94em;
  line-height: 1.6;

  &.alert {
    background: $c-bg-alert;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.msg-symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 99rem;
  background-color: $c-bg-warning-darker;
  color: #ffffff;
}

aside.msg.alert .msg-symbol {
  background-color: $c-bg-alert-darker;
}

.msg-content {
  flex: 1;
  margin-left: 0.6em;
  min-width: 0; // flexboxからはみ出してしまうのを防ぐ

  & > * {
    margin: 0.7rem 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
