// Message box by markdown-it-container
aside.msg {
  display: flex;
  align-items: flex-start;
  margin: 1.5rem 0;
  padding: 1.4em 1em;
  border-radius: 10px;
  background: #fff6e4;
  color: rgba(0, 0, 0, 0.65);
  font-size: 0.94em;
  line-height: 1.6;

  &.alert {
    background: #ffeff2;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.msg-icon {
  position: relative;
  top: 0.05em;
  width: 1.4em;
  height: 1.4em;
  color: #ffb84c;
}

aside.msg.alert .msg-icon {
  color: #ff7670;
}

.msg-content {
  flex: 1;
  margin-left: 0.6em;
  & > * {
    margin: 0.7rem 0;
    &:first-child,
    &:last-child {
      margin: 0;
    }
  }
}
