// Message box by markdown-it-container
.msg {
  position: relative;
  margin: 1.5rem 0;
  padding: 21px 15px 21px 45px;
  border-radius: 6px;
  background: #fff6e4;
  color: rgba(0, 0, 0, 0.65);
  font-size: 0.94em;
  line-height: 1.6;
  &:before {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-52%);
    content: '!';
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    text-align: center;
    color: #fff;
    background: #ffb84c;
    font-weight: 700;
    border-radius: 50%;
  }
  & > * {
    margin: 0.5rem 0;
    &:first-child,
    &:last-child {
      margin: 0;
    }
  }
  a {
    color: inherit;
    text-decoration: underline;
  }
}

.msg.alert {
  background: #ffeff2;
  &:before {
    background: #ff7670;
  }
}
