/* border-radius */
$rounded-xs: 4px;
$rounded-sm: 7px;
$rounded-md: 10px;
$rounded-lg: 14px;
$rounded-xl: 20px;
$rounded-full: 99rem;
$rounded-publication: 25%;

$xs: 374px;
$sm: 576px;
$md: 768px;

$breakpoints: (
  'xs': 'screen and (max-width: #{$xs})',
  'sm': 'screen and (max-width: #{$sm})',
  'md': 'screen and (max-width: #{$md})',
);

@mixin mq($size) {
  @media #{map-get($breakpoints, $size)} {
    @content;
  }
}

// use short classname so that nested css does not become too long.
.znc {
  & > *:first-child {
    margin-top: 0;
  }
  line-height: 1.9;

  /* Zenn本体のカラーパレット */
  --c-blue-100: #f0f7ff;
  --c-blue-200: #ecf5ff;
  --c-blue-300: #e0efff;
  --c-blue-400: #bfdcff;
  --c-blue-500: #3ea8ff;
  --c-blue-600: #0f83fd;
  --c-blue-700: #0868ce;
  --c-blue-800: #0656ac;
  --c-blue-900: #05458a;
  --c-blue-1000: #043467;
  --c-gray-100: #f5f9fc;
  --c-gray-200: #f1f5f9;
  --c-gray-300: #edf2f7;
  --c-gray-400: #e4edf4;
  --c-gray-500: #d6e3ed;
  --c-gray-600: #acbcc7;
  --c-gray-700: #8f9faa;
  --c-gray-800: #65717b;
  --c-dark-blue-800: #09376d;
  --c-dark-blue-900: #0b2c53;
  --c-dark-blue-1000: #162c49;
  --c-dark-blue-1100: #0d223a;
  --c-dark-blue-1200: #081d35;
  --c-dark-gray-900: #344c69;
  --c-dark-gray-1000: #2e445c;
  --c-dark-gray-1100: #1b324a;

  /* 目的別カラー変数 */

  // 主に背景色に使う
  --c-bg-base: #fff;

  // メリハリをつけたいときに使う薄めの背景色
  --c-bg-dim: var(--c-gray-300);

  // 警告の背景色
  --c-bg-warning: #fff6e4;
  --c-bg-warning-icon: #ffa909;

  // エラーの背景色
  --c-bg-alert: #fff0f0;
  --c-bg-alert-icon: #ff6868;

  // 主にCodeBlockの背景色に使う
  --c-bg-code: var(--c-gray-300);
  --c-bg-code-block: #1a2638;

  // 標準的なボーダー
  --c-border: var(--c-gray-500);
  // 目立たせたいボーダー
  --c-border-emphasis: var(--c-gray-800);

  // 控えめなテキスト
  --c-text-subtle: var(--c-gray-800);
  // リンクのテキスト
  --c-text-link: var(--c-blue-600);

  @import './_content.scss';
  @import './_embed.scss';
  @import './_prism.scss';
  @import './_message.scss';
  @import './_footnotes.scss';
}

[data-theme='dark-blue'] .znc {
  /* 目的別カラー変数 */

  // 主に背景色に使う
  --c-bg-base: var(--c-dark-blue-1100);

  // メリハリをつけたいときに使う薄めの背景色
  --c-bg-dim: var(--c-dark-blue-900);

  // 警告の背景色
  --c-bg-warning: #39352c;
  --c-bg-warning-icon: #e5a21a;

  // エラーの背景色
  --c-bg-alert: #311818;
  --c-bg-alert-icon: #c63939;

  // 主にCodeBlockの背景色に使う
  --c-bg-code: var(--c-dark-gray-1000);
  --c-bg-code-block: #1a2638;

  // 標準的なボーダー
  --c-border: var(--c-dark-gray-1000);
  // 目立たせたいボーダー
  --c-border-emphasis: var(--c-dark-gray-900);

  // 控えめなテキスト
  --c-text-subtle: var(--c-gray-600);
  // リンクのテキスト
  --c-text-link: var(--c-blue-600);
}
