$c-primary: #3ea8ff;
$c-primary-bg: #edf2f7;
$c-primary-bg-darker: #c6d5e2;
$c-primary-bg-lighter: #f1f5f9;
$c-gray: #93a5b1;
$c-gray-lighter: #b9c7d2;
$c-gray-darker: #77838c;
$c-gray-border: #cfdce6;
$c-gray-border-lighter: rgba(92, 147, 187, 0.17);
$c-contrast: #2c2d3a;

$xs: 374px;
$sm: 576px;
$md: 768px;

$breakpoints: (
  "xs": "screen and (max-width: #{$xs})",
  "sm": "screen and (max-width: #{$sm})",
  "md": "screen and (max-width: #{$md})",
);

@mixin mq($size) {
  @media #{map-get($breakpoints, $size)} {
    @content;
  }
}

// use short classname so that nested css does not become too long.
.znc {
  & > *:first-child {
    margin-top: 0;
  }
  line-height: 1.9;

  @import "./_content.scss";
  @import "./_embed.scss";
  @import "./_prism.scss";
  @import "./_message.scss";
  @import "./_footnotes.scss";
}
