$c-base: #2c2d3a;
$c-primary: #3ea8ff;
$c-primary-bg: #edf2f7;
$c-primary-bg-darker: #c6d5e2;
$c-primary-bg-lighter: #f1f5f9;
$c-gray: #7e8c96;
$c-gray-darker: #5b6368;
$c-gray-border: #cfdce6;
$c-gray-border-lighter: rgba(92, 147, 187, 0.17);
$c-blue-bg: #ebf5ff;
