.popOver {
  background-color: white;
  color: black;
  z-index: 50;
  width: 18rem;
  border-radius: 0.375rem;
  border: 1px solid;
  padding: 1rem;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.06);
  outline: none;
  transform-origin: var(--radix-popover-content-transform-origin);
}
