.footnotes {
  color: $c-gray-darker;
  font-size: 0.9em;
}
.footnotes-title {
  display: flex;
  align-items: center;
  padding-bottom: 3px;
  border-bottom: solid 1px $c-gray-border;
  font-weight: 700;
}
.footnotes-list {
  margin: 0;
}
.footnotes-twemoji {
  border: none;
  margin: 0 7px 0 0;
}
.footnote-backref {
  font-family: Arial, sans-serif;
}
