:root {
  /* Colors */
  --c-primary: #0f93ff;
  --c-primary-darker: #0087f5;
  --c-primary-bg: #e3f2ff;
  --c-body: rgba(0, 0, 0, 0.82);
  --c-gray: #606971;
  --c-gray-border: #cfdce6;
  --c-gray-bg: #edf2f7;
  --c-error: #fa5d5d;
  --c-error-bg: #fff0f0;
  /* Font */
  --font-base: -apple-system, 'BlinkMacSystemFont', 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif, 'Segoe UI Emoji';
  --font-code: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, monospace,
    'Segoe UI Emoji';
}

html {
  box-sizing: border-box;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  color: var(--c-body);
  word-break: break-word;
  word-wrap: break-word;
  font-family: var(--font-base);
}
img {
  max-width: 100%;
}
p,
blockquote,
dl,
dd,
dt,
section {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
  line-height: 1.4;
  outline: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin: 0;
  padding: 0;
}
hr {
  border: none;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
  appearance: none;
  background: transparent;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  transition: 0.25s;
  padding: 0;
  margin: 0;
  line-height: 1.3;
  color: var(--c-body);
}

code {
  font-family: var(--font-code);
}
