:root {
  /* Colors */
  --c-primary: #0f93ff;
  --c-primary-darker: #0087f5;
  --c-primary-bg: #e3f2ff;
  --c-primary-bg-lightest: #eff6fb99;
  --c-body: rgba(0, 0, 0, 0.82);
  --c-gray: #606971;
  --c-gray-border: #cfdce6;
  --c-gray-bg: #edf2f7;
  --c-error: #fa5d5d;
  --c-error-bg: #fff0f0;
  /* Font */
  --font-base: -apple-system, 'BlinkMacSystemFont', 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif, 'Segoe UI Emoji';
  --font-code: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, monospace,
    'Segoe UI Emoji';
}

html {
  box-sizing: border-box;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  color: var(--c-body);
  word-break: break-word;
  word-wrap: break-word;
  font-family: var(--font-base);
}
img {
  max-width: 100%;
}
p,
blockquote,
dl,
dd,
dt,
section {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
  line-height: 1.4;
  outline: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin: 0;
  padding: 0;
}
hr {
  border: none;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
  appearance: none;
  background: transparent;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  transition: 0.25s;
  padding: 0;
  margin: 0;
  line-height: 1.3;
  color: var(--c-body);
}

code {
  font-family: var(--font-code);
}

/* ツールチップ */
/* Forked from Microtip https://github.com/ghosh/microtip */

[aria-label][role~='tooltip'] {
  position: relative;
}

[aria-label][role~='tooltip']::before,
[aria-label][role~='tooltip']::after {
  position: absolute;
  box-sizing: border-box;
  line-height: 1.4;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.1s ease-in-out 0.3s;
  backface-visibility: hidden;
}

[aria-label][role~='tooltip']::before {
  content: '';
}

[aria-label][role~='tooltip']::after {
  box-sizing: content-box;
  padding: 0.4em 0.7em;
  font-size: 11px;
  font-weight: normal;
  color: #fff;
  white-space: nowrap;
  content: attr(aria-label);
  background: #1b1b1d;
  border-radius: var(--rounded-sm);
}

[aria-label][role~='tooltip']:hover::before,
[aria-label][role~='tooltip']:hover::after,
[aria-label][role~='tooltip']:focus-visible::before,
[aria-label][role~='tooltip']:focus-visible::after {
  pointer-events: auto;
  opacity: 1;
}

/* position modifiers */
/* top */
[role~='tooltip'][data-tooltip-position|='top']::before {
  bottom: auto;
  bottom: 100%;
  left: 50%;
  border: 6px solid transparent;
  border-top: 7px solid #1b1b1d;
  transform: translateX(-50%);
}

[role~='tooltip'][data-tooltip-position|='top']::after {
  bottom: auto;
  bottom: 100%;
  left: 50%;
  margin-bottom: 12px;
  transform: translateX(-50%);
}

/* Top Left */
[role~='tooltip'][data-tooltip-position='top-left']::after {
  transform: translateX(calc(-100% + 20px));
}

/* Top Right */
[role~='tooltip'][data-tooltip-position='top-right']::after {
  transform: translateX(-20px);
}

/* Bottom */
[role~='tooltip'][data-tooltip-position|='bottom']::before {
  top: 100%;
  bottom: auto;
  left: 50%;
  border: 6px solid transparent;
  border-bottom: 7px solid #1b1b1d;
  transform: translateX(-50%);
}

[role~='tooltip'][data-tooltip-position|='bottom']::after {
  top: 100%;
  bottom: auto;
  left: 50%;
  margin-top: 12px;
  transform: translateX(-50%);
}

/* Bottom Left */
[role~='tooltip'][data-tooltip-position='bottom-left']::after {
  transform: translateX(calc(-100% + 20px));
}

/* Bottom Right */
[role~='tooltip'][data-tooltip-position='bottom-right']::after {
  transform: translateX(-20px);
}

/* Size */
[role~='tooltip'][data-tooltip-size='small']::after {
  width: 80px;
  white-space: initial;
}

[role~='tooltip'][data-tooltip-size='medium']::after {
  width: 140px;
  white-space: initial;
}

[role~='tooltip'][data-tooltip-size='large']::after {
  width: 200px;
  white-space: initial;
}
