.altPopoverTrigger {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  cursor: pointer;

  &:hover {
    background-color: #e5e7eb;
  }
}

.altPopoverTriger:hover {
  background-color: #f3f4f6;
}

.altPopoverContent {
  width: 20rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;

  input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
  }

  button {
    padding: 0.5rem 1.5rem;
    background-color: #0f93ff;
    color: white;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
  }
}
