.error {
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-title {
  font-size: 20px;
}
.error-message {
  margin-top: 15px;
  font-size: 16px;
}
.error-link {
  margin-top: 20px;
  display: inline-block;
  padding: 0.4em 1.2em;
  border: solid 1px #b4c2e2;
  border-radius: 2.5em;
  font-size: 16px;
  &:hover {
    background: var(--c-primary-bg-lighter);
  }
}
