html {
  box-sizing: border-box;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.8;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: rgba(0, 0, 0, 0.82);
  word-break: break-word;
  word-wrap: break-word;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}
p,
blockquote,
dl,
dd,
dt,
section {
  margin: 0;
}

a {
  text-decoration: none;
  transition: 0.25s;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
  line-height: 1.5;
  outline: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
hr {
  border: none;
}
