name: Publish

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - canary
    paths-ignore:
      - '**/package.json'
      - 'lerna.json'
      - '**.md'
      - 'packages/example/**'

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: pnpm/action-setup@v4
        with:
          version: 10.24.0

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          cache: 'pnpm'
          node-version: 24
          registry-url: 'https://registry.npmjs.org'

      - name: ビルド時に使用する環境変数を設定
        run: |
          touch ./packages/zenn-cli/.env
          echo VITE_EMBED_SERVER_ORIGIN=${{ vars.VITE_EMBED_SERVER_ORIGIN }} >> ./packages/zenn-cli/.env

      - name: Install safe-chain
        run: curl -fsSL https://raw.githubusercontent.com/AikidoSec/safe-chain/main/install-scripts/install-safe-chain.sh | sh -s -- --ci
        env:
          SAFE_CHAIN_VERSION: "1.2.2"

      - name: パッケージをインストール
        run: pnpm install

      # lernaがGitHub上でコミットできるようにする
      - name: Configure git identity
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git remote set-url origin https://x-access-token:${GITHUB_TOKEN}@github.com/$GITHUB_REPOSITORY
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        run: pnpm build

      - name: '[main] Bump version'
        if: github.ref_name == 'main'
        run: pnpm lerna version patch --yes --no-private
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: '[canary] Bump version'
        if: github.ref_name == 'canary'
        run: pnpm lerna version prerelease --yes --no-private
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set released version to env
        run: node -p -e '`RELEASED_PACKAGE_VERSION=${require("./lerna.json").version}`' >> $GITHUB_ENV

      - name: '[main] Create release'
        if: github.ref_name == 'main'
        uses: release-drafter/release-drafter@v6
        with:
          version: ${{ env.RELEASED_PACKAGE_VERSION }}
          name: ${{ env.RELEASED_PACKAGE_VERSION }}
          tag: ${{ env.RELEASED_PACKAGE_VERSION }}
          publish: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: '[canary] Create release'
        if: github.ref_name == 'canary'
        uses: release-drafter/release-drafter@v6
        with:
          version: ${{ env.RELEASED_PACKAGE_VERSION }}
          name: ${{ env.RELEASED_PACKAGE_VERSION }}
          tag: ${{ env.RELEASED_PACKAGE_VERSION }}
          publish: true
          prerelease: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: '[main] Publish'
        if: github.ref_name == 'main'
        run: pnpm lerna publish from-package --yes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: '[canary] Publish'
        if: github.ref_name == 'canary'
        run: pnpm lerna publish from-package --yes --pre-dist-tag canary
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: '[main] Checkout'
        if: github.ref_name == 'main'
        uses: actions/checkout@v5
        with:
          ref: canary

      - name: '[main] Reflect changes on main branch to canary branch'
        if: github.ref_name == 'main'
        run: |
          git pull origin main
          git push origin HEAD
