name: Test zenn-editor

on:
  pull_request:
    branches:
      - main
      - canary
    types: [opened, synchronize]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: パッケージをインストール
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Run tests for zenn-markdown-html
        run: pnpm test
        working-directory: packages/zenn-markdown-html

      - name: Run tests for zenn-cli
        run: pnpm test
        working-directory: packages/zenn-cli
